
html, body {
    height: 100%;
    background: $background-color;
}

html {
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    font:normal 81.2%/1.65 Lato, sans-serif;
}

body {
    word-wrap:breakword;
    -webkit-hyphens:auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    hyphens:auto;
    width:100%;
    margin:0;
}

a:focus {
    outline:thin dotted;
}

h1 {
    font-size:2em;
    margin:.67em 0;
}

hr {
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #edece4;
    margin:3.2em 0;
    padding:0;
}

code,kbd,pre,samp {
    font-family:monospace, serif;
    font-size:1em;
}

pre {
    white-space:pre;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background:#f1f0ea;
    border:1px solid #dddbcc;
    width:100%;
    font-family:Inconsolata, monospace;
    font-size:.9em;
    overflow:auto;
    border-radius:3px;
    margin:1.6em 0;
    padding:10px;
}

blockquote {
    margin: 1.6em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1.6em 0 1.6em;
    border-left: #eee 0.6em solid;
}

textarea {
    overflow:auto;
    vertical-align:top;
}

pre code {
    word-wrap:normal;
    white-space:pre-wrap;
}

code {
    white-space:pre;
    font-family:monospace;
}

.fade {
    opacity:0;
    -webkit-transition:opacity .15s linear;
    -moz-transition:opacity .15s linear;
    transition:opacity .15s linear;
}

.fade.in {
    opacity:1;
}

.hidden {
    text-indent:-9999px;
    visibility:hidden;
    display:none;
}

.invisible {
    visibility:hidden;
}

.left {
    float:left;
}

.markdown,pre,code {
    font-family:Inconsolata, monospace;
}

main, #container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

section {
    height: 100%;
}
