/* line 241, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 246, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 249, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 262, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 265, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
a:focus {
  outline: none;
}

/* line 270, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 273, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 274, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 280, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 285, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 286, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 287, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 288, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 289, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 290, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 291, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 297, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 300, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 310, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 313, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* Foundation Variables */
/* The default font-size is set to 100% of the browser style sheet (usually 16px) */
/* for compatibility with browser-based text zoom or user-set defaults. */
/* This is the default html and body font-size for the base em value. */
/* Since the typical default browser font-size is 16px, that makes the calculation for grid size. */
/* If you want your base font-size to be a different size and not have it effect grid size too, */
/* set the value of $em-base to $base-font-size ($em-base: $base-font-size;) */
/* Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px) */
/* Change whether or not you include browser prefixes */
/* Various global styles */
/* Font-smoothing */
/* Text direction settings */
/* line 2, ../sass/_button.scss */
.btn {
  border: 1px solid #005472;
  color: white;
  background-color: #0079a5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008cbf), color-stop(100%, #00668b));
  background: -webkit-linear-gradient(top, #008cbf, #00668b);
  background: -moz-linear-gradient(top, #008cbf, #00668b);
  background: -o-linear-gradient(top, #008cbf, #00668b);
  background: linear-gradient(top, #008cbf, #00668b);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 18, ../sass/_button.scss */
.btn:hover {
  background-color: #0079a5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ed8), color-stop(100%, #005f81));
  background: -webkit-linear-gradient(top, #009ed8, #005f81);
  background: -moz-linear-gradient(top, #009ed8, #005f81);
  background: -o-linear-gradient(top, #009ed8, #005f81);
  background: linear-gradient(top, #009ed8, #005f81);
}
/* line 22, ../sass/_button.scss */
.btn:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #005472), color-stop(100%, #0093c9));
  background: -webkit-linear-gradient(top, #005472, #0093c9);
  background: -moz-linear-gradient(top, #005472, #0093c9);
  background: -o-linear-gradient(top, #005472, #0093c9);
  background: linear-gradient(top, #005472, #0093c9);
  color: #e6e6e6;
}

/* line 30, ../sass/_button.scss */
input.btn, button.btn {
  height: 34px;
  cursor: pointer;
}

/* line 40, ../sass/_button.scss */
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active,
input.btn:disabled,
button.btn:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #EEE;
  border: 1px solid #dddddd;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
}

/* line 1, ../sass/_codemirror.scss */
.CodeMirror {
  font-family: monospace;
  height: 300px;
  line-height: 1;
  position: relative;
  overflow: hidden;
}

/* line 9, ../sass/_codemirror.scss */
.CodeMirror-scroll {
  overflow: auto;
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  padding-right: 30px;
  height: 100%;
  outline: none;
  position: relative;
}

/* line 20, ../sass/_codemirror.scss */
.CodeMirror-lines {
  cursor: text;
  padding: 4px 0;
}

/* line 25, ../sass/_codemirror.scss */
.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  border-width: 0;
  margin: 0;
  padding: 0 4px;
}

/* line 45, ../sass/_codemirror.scss */
.CodeMirror-scrollbar-filler {
  background-color: #FFF;
  right: 0;
  bottom: 0;
  z-index: 6;
}

/* line 52, ../sass/_codemirror.scss */
.CodeMirror-gutters {
  border-right: 1px solid #dddddd;
  background-color: #f7f7f7;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-bottom: 30px;
  z-index: 3;
}

/* line 63, ../sass/_codemirror.scss */
.CodeMirror-linenumber {
  min-width: 20px;
  text-align: right;
  color: #999;
  padding: 0 3px 0 5px;
}

/* line 70, ../sass/_codemirror.scss */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
  position: absolute;
  visibility: hidden;
  border-right: none;
  width: 0;
}

/* line 78, ../sass/_codemirror.scss */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

/* line 82, ../sass/_codemirror.scss */
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(0, 200, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6600c800,endColorstr=#4c00c800);
}

/* line 89, ../sass/_codemirror.scss */
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor:not(#nonsense_id) {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* line 93, ../sass/_codemirror.scss */
.cm-s-default .cm-keyword {
  color: #708;
}

/* line 97, ../sass/_codemirror.scss */
.cm-s-default .cm-atom {
  color: #219;
}

/* line 101, ../sass/_codemirror.scss */
.cm-s-default .cm-number {
  color: #164;
}

/* line 105, ../sass/_codemirror.scss */
.cm-s-default .cm-def {
  color: #00f;
}

/* line 109, ../sass/_codemirror.scss */
.cm-s-default .cm-variable-2 {
  color: #05a;
}

/* line 113, ../sass/_codemirror.scss */
.cm-s-default .cm-variable-3 {
  color: #085;
}

/* line 117, ../sass/_codemirror.scss */
.cm-s-default .cm-comment {
  color: #a50;
}

/* line 121, ../sass/_codemirror.scss */
.cm-s-default .cm-string {
  color: #a11;
}

/* line 125, ../sass/_codemirror.scss */
.cm-s-default .cm-string-2 {
  color: #f50;
}

/* line 129, ../sass/_codemirror.scss */
.cm-s-default .cm-builtin {
  color: #30a;
}

/* line 133, ../sass/_codemirror.scss */
.cm-s-default .cm-bracket {
  color: #997;
}

/* line 137, ../sass/_codemirror.scss */
.cm-s-default .cm-tag {
  color: #170;
}

/* line 141, ../sass/_codemirror.scss */
.cm-s-default .cm-header {
  color: blue;
}

/* line 145, ../sass/_codemirror.scss */
.cm-s-default .cm-quote {
  color: #090;
}

/* line 149, ../sass/_codemirror.scss */
.cm-s-default .cm-hr {
  color: #999;
}

/* line 153, ../sass/_codemirror.scss */
.cm-negative {
  color: #d44;
}

/* line 157, ../sass/_codemirror.scss */
.cm-positive {
  color: #292;
}

/* line 161, ../sass/_codemirror.scss */
.cm-emstrong {
  font-style: italic;
  font-weight: 700;
}

/* line 166, ../sass/_codemirror.scss */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}

/* line 170, ../sass/_codemirror.scss */
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}

/* line 174, ../sass/_codemirror.scss */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler {
  position: absolute;
  z-index: 6;
  display: none;
}

/* line 180, ../sass/_codemirror.scss */
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 187, ../sass/_codemirror.scss */
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

/* line 194, ../sass/_codemirror.scss */
.CodeMirror-gutter {
  height: 100%;
  zoom: 1;
  display: inline;
}

/* line 200, ../sass/_codemirror.scss */
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

/* line 206, ../sass/_codemirror.scss */
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

/* line 212, ../sass/_codemirror.scss */
.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

/* line 221, ../sass/_codemirror.scss */
.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

/* line 227, ../sass/_codemirror.scss */
.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

/* line 231, ../sass/_codemirror.scss */
.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 239, ../sass/_codemirror.scss */
.CodeMirror-measure pre {
  position: static;
}

/* line 243, ../sass/_codemirror.scss */
.CodeMirror-focused div.CodeMirror-cursor {
  visibility: visible;
}

/* line 247, ../sass/_codemirror.scss */
.CodeMirror-selected {
  background: #d9d9d9;
}

/* line 251, ../sass/_codemirror.scss */
.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0;
}

/* line 255, ../sass/_codemirror.scss */
.floatingheader {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
  height: 40px;
  text-transform: uppercase;
  font-size: .85em;
  font-weight: 300;
  color: #aaa9a2;
  background: linear, to bottom, white 0 25% 100%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f2ffffff',GradientType=0);
  padding: 12px 15px;
}

/* line 274, ../sass/_codemirror.scss */
.floatingheader button, .floatingheader .button {
  display: inline-block;
  font-size: 10px;
  min-height: 20px;
  height: 20px;
  vertical-align: top;
  padding: 3px 4px;
}

/* line 283, ../sass/_codemirror.scss */
.scrolling .floatingheader {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 2px 0 -1px 0 inset;
}

/* line 288, ../sass/_codemirror.scss */
.scrolling .floatingheader::before {
  content: "";
  height: 40px;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
  box-shadow: rgba(0, 0, 0, 0.02) 0 2px 2px;
}

/* line 299, ../sass/_codemirror.scss */
.scrolling .floatingheader::after {
  content: "";
  height: 40px;
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15%;
  box-shadow: rgba(0, 0, 0, 0.02) 0 3px 3px;
}

/* line 310, ../sass/_codemirror.scss */
.entry-preview-content {
  font-size: .95em;
  line-height: 1.7em;
  font-weight: 300;
}

/* line 316, ../sass/_codemirror.scss */
.entry-preview-content a {
  color: #5ba4e5;
  text-decoration: underline;
}

/* line 321, ../sass/_codemirror.scss */
.entry-preview-content p {
  margin: 1.2em 0 1.6em;
}

/* line 325, ../sass/_codemirror.scss */
.entry-preview-content p:first-child {
  margin-top: 0;
}

/* line 329, ../sass/_codemirror.scss */
.entry-preview-content h1, .entry-preview-content h2, .entry-preview-content h3, .entry-preview-content h4, .entry-preview-content h5, .entry-preview-content h6 {
  color: #242628!important;
}

/* line 333, ../sass/_codemirror.scss */
.entry-preview-content h1 {
  font-size: 3em;
  font-weight: 700;
}

/* line 338, ../sass/_codemirror.scss */
.entry-preview-content h2 {
  font-size: 2.2em;
  font-weight: 700;
}

/* line 343, ../sass/_codemirror.scss */
.entry-preview-content h3 {
  font-size: 1.8em;
  font-weight: 700;
}

/* line 348, ../sass/_codemirror.scss */
.entry-preview-content .btn {
  text-decoration: none;
  color: #35393b;
}

/* line 353, ../sass/_codemirror.scss */
.entry-preview-content .img-placeholder {
  border: 5px dashed #35393b;
  height: 100px;
  position: relative;
}

/* line 359, ../sass/_codemirror.scss */
.editor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 367, ../sass/_codemirror.scss */
.editor .editorwrap {
  position: relative;
  height: inherit;
  margin: 0 auto;
}

/* line 373, ../sass/_codemirror.scss */
.editor .entry-markdown {
  left: 0;
  padding-left: 40px;
}

/* line 378, ../sass/_codemirror.scss */
.editor .entry-preview {
  right: 0;
  border-left: white 20px solid;
  box-shadow: #edece4 -1px 0 0;
}

/* line 384, ../sass/_codemirror.scss */
.rendered-markdown p {
  font-size: 1.2em;
  color: #868c92;
  text-indent: 0;
}

/* line 390, ../sass/_codemirror.scss */
.editor .entry-markdown, .editor .entry-preview {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  position: absolute;
  bottom: 0;
  top: 0;
  background: #fff;
}

/* line 401, ../sass/_codemirror.scss */
.editor .entry-markdown.active, .editor .entry-preview.active {
  z-index: 200;
}

/* line 405, ../sass/_codemirror.scss */
.editor .entry-markdown.active .markdown, .editor .entry-markdown.active .entry-preview-content, .editor .entry-preview.active .markdown, .editor .entry-preview.active .entry-preview-content {
  height: auto;
  overflow: auto;
}

/* line 410, ../sass/_codemirror.scss */
.editor .entry-word-count {
  float: right;
  padding-right: 22px;
}

/* line 415, ../sass/_codemirror.scss */
.editor .entry-markdown-content textarea {
  border: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

/* line 429, ../sass/_codemirror.scss */
.editor .CodeMirror {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Inconsolata, monospace;
  font-size: 1.1em;
  line-height: 1.2em;
  color: #6c7379;
}

/* line 442, ../sass/_codemirror.scss */
.editor .CodeMirror-lines {
  padding: 35px 0 40px;
}

/* line 446, ../sass/_codemirror.scss */
.editor .CodeMirror pre {
  padding: 0 40px 0 15px;
}

/* line 450, ../sass/_codemirror.scss */
.editor .cm-header {
  color: #000;
  font-size: 1.4em;
  line-height: 1.4em;
}

/* line 456, ../sass/_codemirror.scss */
.editor .entry-preview-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 30px 40px 40px 15px;
}

/* line 466, ../sass/_codemirror.scss */
.cm-s-default .cm-variable, .cm-s-default .cm-property, .cm-s-default .cm-operator, .editor .cm-string, .editor .cm-link, .editor .cm-comment, .editor .cm-quote {
  color: #000;
}

/* line 470, ../sass/_codemirror.scss */
.cm-s-default .cm-meta, .cm-s-default .cm-qualifier {
  color: #555;
}

/* line 474, ../sass/_codemirror.scss */
.cm-s-default .cm-error, .cm-invalidchar {
  color: red;
}

/* line 478, ../sass/_codemirror.scss */
.cm-s-default .cm-attribute, .cm-s-default .cm-link {
  color: #00c;
}

/* line 482, ../sass/_codemirror.scss */
.cm-header, .cm-strong, .nivo-controlNav a.active, b, strong, blockquote cite {
  font-weight: 700;
}

/* line 486, ../sass/_codemirror.scss */
.cm-em, dfn {
  font-style: italic;
}

/* line 490, ../sass/_codemirror.scss */
.cm-link, a:hover {
  text-decoration: underline;
}

/* line 494, ../sass/_codemirror.scss */
.CodeMirror-sizer, .wrapper, .manage {
  position: relative;
}

/* line 498, ../sass/_codemirror.scss */
.CodeMirror-widget, audio, canvas, video {
  display: inline-block;
}

/* line 1, ../sass/_base.scss */
html, body {
  height: 100%;
}

/* line 5, ../sass/_base.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: normal 81.2%/1.65 Lato, sans-serif;
}

/* line 12, ../sass/_base.scss */
body {
  word-wrap: breakword;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 100%;
  margin: 0;
}

/* line 22, ../sass/_base.scss */
a:focus {
  outline: thin dotted;
}

/* line 26, ../sass/_base.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 31, ../sass/_base.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #edece4;
  margin: 3.2em 0;
  padding: 0;
}

/* line 42, ../sass/_base.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 47, ../sass/_base.scss */
pre {
  white-space: pre;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f1f0ea;
  border: 1px solid #dddbcc;
  width: 100%;
  font-family: Inconsolata, monospace;
  font-size: .9em;
  overflow: auto;
  border-radius: 3px;
  margin: 1.6em 0;
  padding: 10px;
}

/* line 63, ../sass/_base.scss */
blockquote {
  margin: 1.6em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.6em 0 1.6em;
  border-left: #eeeeee 0.6em solid;
}

/* line 72, ../sass/_base.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 77, ../sass/_base.scss */
pre code {
  word-wrap: normal;
  white-space: pre-wrap;
}

/* line 82, ../sass/_base.scss */
code {
  white-space: pre;
  font-family: monospace;
}

/* line 87, ../sass/_base.scss */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/* line 94, ../sass/_base.scss */
.fade.in {
  opacity: 1;
}

/* line 98, ../sass/_base.scss */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

/* line 104, ../sass/_base.scss */
.invisible {
  visibility: hidden;
}

/* line 108, ../sass/_base.scss */
.left {
  float: left;
}

/* line 112, ../sass/_base.scss */
.markdown, pre, code {
  font-family: Inconsolata, monospace;
}

/* Grid HTML Classes */
/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 121, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
/* line 124, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 125, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  overflow: hidden;
  *zoom: 1;
}

/* line 130, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

@media only screen {
  /* line 135, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-3 {
    position: relative;
    width: 25%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-6 {
    position: relative;
    width: 50%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-9 {
    position: relative;
    width: 75%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-12 {
    position: relative;
    width: 100%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 142, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 145, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  /* line 146, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"].end {
    float: left;
  }

  /* line 149, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {
  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-3 {
    position: relative;
    width: 25%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-6 {
    position: relative;
    width: 50%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-9 {
    position: relative;
    width: 75%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-12 {
    position: relative;
    width: 100%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 160, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 164, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 169, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  /* line 172, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  /* line 179, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important;
  }
}
/* line 4, ../sass/_posts.scss */
#posts,
#post-preview {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 50%;
  float: left;
}

/* line 7, ../sass/_editor.scss */
#editor {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #eee;
}
/* line 14, ../sass/_editor.scss */
#editor #post-title {
  position: absolute;
  width: 100%;
  height: 70px;
  padding: 0px 15px;
  z-index: 99;
}
/* line 21, ../sass/_editor.scss */
#editor input#title {
  font-size: 2em;
  border: 0;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
}
/* line 29, ../sass/_editor.scss */
#editor input#title:hover {
  border-color: #ccc;
}
/* line 32, ../sass/_editor.scss */
#editor input#title:active, #editor input#title:focus {
  border-color: #aaa;
}
/* line 36, ../sass/_editor.scss */
#editor #post-tags {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
  background: #333333;
}
/* line 44, ../sass/_editor.scss */
#editor #post-tags #publish {
  float: right;
  margin: 10px;
}
